html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}


@media screen and (max-width: 600px) {
    p, .img, ul, li {
        display: inline-block;
    }
}

/* header */
header {
    display: block;
    background-color: teal;
    color: black;
    padding: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 100%;
    position: relative;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
    margin-left: 20px;
}

ul {
    text-align: right;
    display: inline;
    padding-right: 10px;
    margin-left: 20px;
}

aside {
    display: inline-block;
    vertical-align: top;
}



a {
    text-decoration: none;
    color: teal;
}

.img {
    width: 20%;
    height: 10%;
}

footer {
    text-align: center;
    background-color: teal;
    color: white;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
 