html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

header {
    background-color: teal;
    padding: 1rem;
    text-align: center;
    width: 100%;
}
header + div {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

li {
    list-style-type: none;
    padding: 0.7rem;
    margin-right: 0.7rem;
}
main {
    margin-top: 1rem;
}

ul {
    text-align: right;
    display: inline;
}

a {
    vertical-align: top;
    text-decoration: none;
    color: teal;
}
aside {
    vertical-align: top;
}
main > p {
    font-size: 0.8em;
}

img {
    float:left;
    width: 175px;
    height: 125px;
    padding: 1rem;
}

footer {
    text-align: center;
    background-color: teal;
    text-align: center;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}


@media screen and (max-width: 600px) {
    header + div {
        display: inline-block;
    }

    ul {
        display: flex;
    }

    form {
        border: 1px solid #ccc;
        padding: 1rem;
        width: 170%;
    }
    .img {
        padding: 0;
    }
}
