html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

body {
    max-width: 900px;
    margin: auto;
    border: 1px solid gray;
}

header {
    background-color: teal;
    padding: 1rem;
    text-align: center;
}

header + div {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

li {
    list-style-type: none;
}

main {
    margin-top: 1rem;
}

ul {
    text-align: right;
    display: inline;
}

a {
    display: block;
    text-decoration: none;
    color: teal;
    padding: 10px;
}
a:hover {
    background-color: teal;
    color: white;
}
main > p {
    font-size: 0.8em;
}

img {
    float:left;
    width: 175px;
    height: 125px;
    padding: 1rem;
    padding-left: 0;
}
main {
    padding-left: 30px;
}
footer {
    display: grid;
    text-align: center;
    background-color: teal;
    color: white;
    width: 900px;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    header + div {
        display: inline-block;
    }

    ul {
        display: flex;
        text-align: center;
        vertical-align: middle;
        padding: 0;
    }
    li {
        border-right: 2px solid lightgray;
    }
    li:last-child {
        border-right: 0;
    }

    a {
        display: inline-block;
        padding: 10px 15px;
    }
    form {
        border: 1px solid #ccc;
        padding: 1rem;
        width: 170%;
    }
    main {
        padding-left: 10px;
    }
    .img {
        padding-left:1.5px;
        padding-top: 0;
    }
    footer {
        width: 100%;
    }
}